.story_container {
    .story_about {
        gap: 30px;
        transition: 1s;
        h3, h5, span { color:white; transition: 1s}
        p { 
            color: #C2C3C5;
            max-width: 600px;
            width: 100%;
        }
        .analytics_container {
            gap: 60px;
            span {
                font-size: 46px;
            }
        }
    }
}